<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
<h1 style="align:center">ADD USER TO SMART HOME</h1>
<form action="Adduser" method="POST">
    {% csrf_token %}
    <label>User Name :</label><input type="text" name="uname"  hidden.value="user name" autofocus></br></br>
    <label>PassWord  :</label><input type=password name="password" value="pass"></br></br>
    <label>User Type :</label><lable>User</lable></User><input type="radio" name="useradmin" value="user"/>
    <label>Admin :</label><input type="radio" name="useradmin" value="admin"/><br/></br>
    <label>User Status :</label><lable>Active</lable><input type="radio" name="ustate" value="Active"/>
    <label>DeActive :</label><input type="radio" name="ustate" value="DeActive"/><br/></br>
    <input type="submit" name="Submit" value="ADD USER"></br>
</form>
    </div>
</body>
</html>