<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Admin Portal</h1>
</br>

<div align="center" width="100%">
<form action="Adduser1" metho="POST">
    <button type="submit" name="Add User" value="AddUser" style="width:10%">ADD USER</button>
</form>
</br>
    <form action="" metho="POST">
    <button type="submit" name="Delete User" value="Delete User" style="width:10%">Delete USER</button>
</form></br>
<form action="UsersList" metho="POST">
    <button type="submit" name="List User" value="List Users" style="width:10%">List USER</button>
</form></br>
<form action="" metho="POST">
    <button type="submit" name="Disable User" value="Disable users" style="width:10%">Disable USER</button>
</form></br>
<form action="AddDevice1" metho="POST">
    <button type="submit" name="Add Devices" value="AddUser" style="width:10%">Add Devices</button>
</form></br>
<form action="deviceCon" metho="POST">
    <button type="submit" name="Device Controler" value="DeviceControler" style="width:10%">DevicesControler</button>
</form></br>

                <p>{{ username }} </p>
                <p>{{ devicename }}</p>

</div>
</body>
</html>